@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: oklch(0.1 0.025 259);
  --bg: oklch(0.15 0.025 259);
  --bg-light: oklch(0.2 0.025 259);

  --text: oklch(0.96 0.05 259);
  --text-muted: oklch(0.76 0.05 259);
  
  --highlight: oklch(0.5 0.05 259);
  
  --border: oklch(0.4 0.05 259);
  --border-muted: oklch(0.3 0.05 259);
  
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --primary: oklch(0.76 0.1 259);
  --secondary: oklch(0.76 0.1 79);
  
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

[data-theme="light"] {
  --bg-dark: oklch(0.92 0.025 259);
  --bg: oklch(0.96 0.025 259);
  --bg-light: oklch(1 0.025 259);

  --text: oklch(0.15 0.05 259);
  --text-muted: oklch(0.4 0.05 259);

  --highlight: oklch(1 0.05 259);

  --border: oklch(0.6 0.05 259);
  --border-muted: oklch(0.7 0.05 259);

  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --primary: oklch(0.4 0.1 259);
  --secondary: oklch(0.4 0.1 79);
  
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}
